* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.heading {
  text-align: center;
  margin: 30px;
}

.menu {
  margin: 30px;
  border: 2px solid black;
  background-color: gray;
}

.menu-heading {
  padding: 5px 3px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  width: 50%;
  text-align: center;
  float:right;
}

.chicken {
  background-color: hotpink;
}

.beef {
  background-color: red;
}

.sushi {
  background-color: yellow;
}

.menu-details {
  font-family: Comic Sans MS, Comic Sans, cursive;
  text-transform: lowercase;
  clear:both;
  padding: 10px;
}

/* TABLET VIEW */

@media (min-width: 768px) and (max-width: 991px) {
  body {
    margin: 20px;
  }
  .menu {
    width: 48%;
    float: left;
    margin: 1%;
  }
  .menu:nth-of-type(3) {
    width: auto;
  }
}

@media (min-width: 992px) {
  body {
    margin: 20px;
  }

  .menu {
    width: 32%;
    float: left;
    margin: 0px;
  }
  .menu:nth-of-type(2) {
    margin: 0 2%;
  }
}
